<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse slimscrollsidebar">
    <ul class="nav" id="side-menu">
      <li class="sidebar-search hidden-sm hidden-md hidden-lg hidden">
        <!-- input-group -->
        <div class="input-group custom-search-form">
          <input type="text" class="form-control" placeholder="Search..." />
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
        <!-- /input-group -->
      </li>
      <li class="user-pro">
        <a href="#" class="waves-effect"
          ><img
            src="/assets/images/user.png"
            alt="user-img"
            class="img-circle"
          />
          <span class="hide-menu">
            سعید مرادی<span class="fa arrow"></span
          ></span>
        </a>
        <ul class="nav nav-second-level">
          <li>
            <a href="javascript:void(0)"><i class="ti-user"></i> پروفایل</a>
          </li>

          <li>
            <a href="javascript:void(0)"
              ><i class="ti-email"></i> صندوق ورودی</a
            >
          </li>

          <li>
            <a href="javascript:void(0)"
              ><i class="fa fa-power-off"></i> خروج</a
            >
          </li>
        </ul>
      </li>

      <li>
        <a href="index.html" class="waves-effect active"
          ><i class="linea-icon linea-basic fa-fw" data-icon="v"></i>
          <span class="hide-menu">
            مدیریت کاربران <span class="fa arrow"></span> </span
        ></a>
        <ul class="nav nav-second-level myMenu">
          <li  >
            <a [routerLink]="['/users']"  [routerLinkActive]="['router-link-active']"
              >کاربران</a
            >
          </li>
          <li  >
            <a [routerLink]="['/home']"  [routerLinkActive]="['router-link-active']"
              >خانه</a
            >
          </li>
        </ul>
      </li>

      <li>
        <a href="inbox.html" class="waves-effect"
          ><i data-icon=")" class="linea-icon linea-basic fa-fw"></i>
          <span class="hide-menu"
            >اطلاعات پایه <span class="fa arrow"></span></span
        ></a>
        <ul class="nav nav-second-level">
          <li><a href="chat.html">Chat-message</a></li>
          <li>
            <a href="javascript:void(0)" class="waves-effect"
              >Inbox<span class="fa arrow"></span
            ></a>
            <ul class="nav nav-third-level">
              <li><a href="inbox.html">Mail box</a></li>
              <li><a href="inbox-detail.html">Inbox detail</a></li>
              <li><a href="compose.html">Compose mail</a></li>
            </ul>
          </li>
          <li>
            <a href="javascript:void(0)" class="waves-effect"
              >Contacts<span class="fa arrow"></span
            ></a>
            <ul class="nav nav-third-level">
              <li><a href="contact.html">Contact1</a></li>
              <li><a href="contact2.html">Contact2</a></li>
              <li><a href="contact-detail.html">Contact Detail</a></li>
            </ul>
          </li>
        </ul>
      </li>

      <li>
        <a href="forms.html" class="waves-effect"
          ><i data-icon="&#xe00b;" class="linea-icon linea-basic fa-fw"></i>
          <span class="hide-menu"
            >مدیریت محصولات<span class="fa arrow"></span></span
        ></a>
        <ul class="nav nav-second-level">
          <li><a href="form-basic.html">Basic Forms</a></li>
          <li><a href="form-layout.html">Form Layout</a></li>
          <li><a href="form-advanced.html">Form Addons</a></li>
          <li><a href="form-material-elements.html">Form Material</a></li>
          <li><a href="form-float-input.html">Form Float Input</a></li>
          <li><a href="form-upload.html">File Upload</a></li>
          <li><a href="form-mask.html">Form Mask</a></li>
          <li><a href="form-img-cropper.html">Image Cropping</a></li>
          <li><a href="form-validation.html">Form Validation</a></li>
          <li><a href="form-dropzone.html">File Dropzone</a></li>
          <li><a href="form-pickers.html">Form-pickers</a></li>
          <li><a href="icheck-control.html">Icheck Form Controls</a></li>
          <li><a href="form-wizard.html">Form-wizards</a></li>
          <li><a href="form-typehead.html">Typehead</a></li>
          <li><a href="form-xeditable.html">X-editable</a></li>
          <li><a href="form-summernote.html">Summernote</a></li>
          <li>
            <a href="form-bootstrap-wysihtml5.html">Bootstrap wysihtml5</a>
          </li>
          <li>
            <a href="form-tinymce-wysihtml5.html">Tinymce wysihtml5</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#" class="waves-effect"
          ><i data-icon="&#xe006;" class="linea-icon linea-basic fa-fw"></i>
          <span class="hide-menu">گزارشات<span class="fa arrow"></span></span
        ></a>
        <ul class="nav nav-second-level">
          <li><a href="flot.html">Flot Charts</a></li>
          <li><a href="morris-chart.html">Morris Chart</a></li>
          <li><a href="chart-js.html">Chart-js</a></li>
          <li><a href="peity-chart.html">Peity Charts</a></li>
          <li><a href="knob-chart.html">Knob Charts</a></li>
          <li><a href="sparkline-chart.html">Sparkline charts</a></li>
          <li><a href="extra-charts.html">Extra Charts</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
