<h2 mat-dialog-title>Install Angular</h2>
<mat-dialog-content class="mat-typography">

    <div class='textboxes'>
      <ejs-textbox placeholder="First Name" class="width:150px" floatLabelType="Auto"></ejs-textbox>
    </div>


    <div class='textboxes'>
      <ejs-textbox placeholder="First Name" class="width:150px" floatLabelType="Auto"></ejs-textbox>
    </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button cssClass="e-flat"  ejs-button>خیر</button>
  <button cssClass="e-flat"  ejs-button cdkFocusInitial>بلی</button>
</mat-dialog-actions>
