.smoradicms-full-width {
  width: 100%;
  font-family: 'IRANSans';
}
.mat-expansion-panel-header {
  font-family: iransans;
}
.mat-form-field {
  line-height: 2.125;
}
table {
  width: 100%;
}

body,


button,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'IRANSans';
}
.smoradicms-form {
  display: flex;
  flex-direction: column;
}
